<p>Dear {{username}},</p>

<p>{{ joinedUser.userData.firstName }} {{ joinedUser.userData.lastName }} has just joined your event &quot;{{ event.name }}&quot;.</p>

<p>Best regards,<br/>SGGW MeetApp Team</p>