<p>Dear {{username}},</p>

<p>{{ event.name }} that you are interested in is starting at {{ event.startDate|date("d/m/Y H:i", "Europe/Berlin") }}.</p>

<p>The event will take place at {{ event.location.name }}. Don't miss out!</p><br/>

<p>Best regards,<br/>SGGW MeetApp Team</p>